<div class="w-100 h-100vh">
  <ng-container *ngIf="isParamsValid">
    <div class="position-relative h-100 w-100 overflow-auto">
      <div class="">
        <pdf-viewer [src]="src" [show-all]="true" [original-size]="false" [zoom]="0.9"
          class="pdf-container shadow shadow-lg">
        </pdf-viewer>
      </div>
      <div class="floating-icon">
        <span class="ki ki-download" (click)="downloadFile()"></span>
      </div>
    </div>
  </ng-container> 
  <ng-container *ngIf="!isParamsValid">
    <div class="bg-dark p-3 border-rounded d-flex align-items-center justify-content-center"
      style="width: 100%; height: 100%;">
      <span class="lead text-white">Loading...</span>
    </div>
  </ng-container>
</div>