/* You can add global styles to this file, and also import other style files */
body{
    overflow-x: hidden;
}

.h-100vh{
    height: 100vh;
}

/* width */
::-webkit-scrollbar {
    width: 2.5px;
    height: 2.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: lightgray;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #323344;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darkgray;
  }