/* You can add global styles to this file, and also import other style files */
body {
    overflow-x: hidden;
    background-color: black;
}

.h-100vh {
    height: 100vh;
}

.pdf-container {
    height: 700px;
    width: 500px;
    background-color: #323344;
    border-radius: 5px;
    overflow-y: hidden;
}

.ng2-pdf-viewer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;
}